# Suppress
[*.cs]
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA2007.severity = none
dotnet_diagnostic.IDE0078.severity = none
dotnet_diagnostic.IDE0083.severity = none

[/Migrations/**.cs]
dotnet_diagnostic.CA1062.severity = none
dotnet_diagnostic.CA1724.severity = none
dotnet_diagnostic.IDE0050.severity = none