@page
@model IndexModel
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>.NET Core 3.1</title>
		<style>
			.error { color: red; }

			.success { color: green; }
		</style>
	</head>
	<body>
		<h1>.NET Core 3.1</h1>
		@if(Model.Exception == null)
		{
			<p class="success">@Model.Message</p>
		}
		else
		{
			<p class="error">Error: @Model.Exception</p>
		}
	</body>
</html>